header{
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_title{
    width: 80%;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}
.contact_title h1{
    font-size: 30px;
    background-color: #3fb1da3f;
    display: inline;
    padding: 20px 280px 20px 15px;
    font-family: 'Roboto', sans-serif;
}
.contact_sub{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: #3FB1DA;
    font-size: 20px;
    margin-bottom: 20px;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact_first{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80px;
    justify-content: space-between;
}

.info{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.phone ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.phone ul li{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    height: max-content;
    color: #000;
    list-style: none;
    line-height: 40px;
}
.wsp{
    margin-bottom: 20px;
    margin-left: 0;
}
.wsp a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    background-color: rgb(0, 212, 0);
    width: max-content;
    padding: 5px 30px 5px 30px;
    border-radius: 25px;
}
.wsp a:hover{
    color: #fff;
    box-shadow:inset 0px 0px 0px 1px rgb(40, 153, 40);
    background-color: rgb(33, 221, 33);
}
.wsp a i{
    height: 100%;
    padding-right: 15px;
}
.wsp a i img{
    width: 24px;
    height: 100%;
    object-fit: contain;
    filter:invert(1);
}
.schedule ul li{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: #3FB1DA;
    list-style: square;
    line-height: 40px;
}
.schedule ul li span {
    color: #000;
}
.map{
    width: 100%;
    height: 400px;
    margin-top: 15px;
}
.form{
    width: 45%;
}
.form form{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.form_option{
    height: 50%;
    width: 100%;
    border: 1px solid #3FB1DA;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
.form_option:hover{
    transition: all 0.2 ease-in;
    border: 1px outset #00bbff;
    border-top: 0;
    border-left: 0;
    border-right: 0;

}
#country, #prov{
    cursor: pointer;
}
#mesage{
    height: 100%;
}
.form_option:focus{
    outline: none;
}
#form_button{
    margin-top: 20px;
    border: 1px solid #3FB1DA;
    width: 100px;
    height: 30px;
    background-color:#3fb1da3f;
    transition: all 0.3s;
}
#form_button:hover{
    background-color: #3FB1DA;
    border: 1px solid #3fb1da3f;
    color: #fff;
}
@media (max-width: 1024px){
    .contact_first{
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-bottom: 80px;
    }
    .info{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-evenly;
    }
    .map{
        width: 600px;
        height: 300px;
    }
    .form{
        margin-top: 30px;
        width: 100%;
    }
    .contact_form form{
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }
    .form_option{
        border: 1px solid #3FB1DA;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        padding: 20px;
        margin-bottom: 10px;
    }
}
@media(max-width: 768px){
    .contact_title h1{
        padding: 10px 50px 10px 10px;
    }
    .contact_first{
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-bottom: 80px;
    }
    .info{
        width: 100%;
        display: flex;
    }
    .phone ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 25px;
    }
    .map{
        width: 100%;
    }
    .contact_form{
        width: 80%;
    }
    .contact_form form{
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }
    .form_option{
        border: 1px solid #3FB1DA;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        padding: 20px;
        margin-bottom: 10px;
    }
}