header{
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_title{
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.contact_title h1{
    font-size: 30px;
    background-color: #3fb1da3f;
    display: inline;
    padding: 20px 250px 20px 15px;
    font-family: 'Roboto', sans-serif;
}
.contact_sub{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact_first{
    width: 80%;
    display: flex;
    margin-bottom: 80px;
}
.info{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
}
.phone ul li{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}
.schedule ul li{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}
.map{
    width: 50%;
}
.map iframe{
    width: 100%;
}
.contact_form{
    width: 80%;
}
.contact_form form{
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4,1fr);
    grid-template-areas: 
    "name email tel"
    "country prov city"
    "mes mes mes"
    "mes mes mes";
    grid-gap: 10px;
    margin-bottom: 15px;
}
#name{
    grid-area: name;
}
#email{
    grid-area: email;
}
#tel{
    grid-area: tel;
}
#country{
    grid-area: country;
}
#prov{
    grid-area: prov;
}
#city{
    grid-area: city;
}
#mesage{
    grid-area: mes;
}
.form_option{
    border: 1px solid #3FB1DA;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
.form_option:focus{
    outline: none;
}
#form_button{
    border: 1px solid #3FB1DA;
    width: 100px;
    height: 30px;
    background-color:#3fb1da3f;
    transition: all 0.3s;
}
#form_button:hover{
    background-color: #3FB1DA;
    border: #3fb1da3f;
    color: #fff;
}
@media (max-width: 1024px){
    .contact_first{
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-bottom: 80px;
    }
    .info{
        width: 100%;
        display: flex;
    }
    .map{
        width: 100%;
    }
    .contact_form{
        width: 80%;
    }
    .contact_form form{
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }
    .form_option{
        border: 1px solid #3FB1DA;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        padding: 20px;
        margin-bottom: 10px;
    }
}
@media(max-width: 768px){
    .contact_first{
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-bottom: 80px;
    }
    .info{
        width: 100%;
        display: flex;
    }
    .map{
        width: 100%;
    }
    .contact_form{
        width: 80%;
    }
    .contact_form form{
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }
    .form_option{
        border: 1px solid #3FB1DA;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        padding: 20px;
        margin-bottom: 10px;
    }
}